@import '_global';

@media screen and (min-width:900px) {
   .navbar {
      position: relative;
      padding: 0 1em;
      background-color: #f1f1f1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      >ul {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
         align-items: center;
      }

      .navbar_assets {
         margin-right: 1em;

         .logo {
            display: block;
            width: auto;
            border-radius: 0.5em;
            //background-color: black;
         }

         .navbar_hambuger {
            display: none;

            img {
               display: block;
               width: 32px;
               height: 32px;
            }
         }
      }

      .navbar_nav {
         flex-grow: 2;
         //background-color: aliceblue;

         li {
            a {
               display: block;
               padding: 20px 8px;
               font-size: 1em;
               color: inherit;
            }

            .dropdown {
               display: none;
               margin: 0;
               padding: 0;
               list-style: none;
               position: absolute;
               background-color: blueviolet;

               li {
                  color: black;

                  a {
                     display: block;
                     padding: 12px 6px;
                     font-size: 1em;
                     color: inherit;
                  }

                  &:hover {
                     background-color: darkblue;
                     color: white;
                  }
               }
            }

            &:hover {
               color: blue;

               .dropdown {
                  display: block;
               }
            }
         }
      }
   }
}

@media screen and (max-width:900px) {
   .navbar {
      position: relative;
      padding: 0 1em;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      >ul {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
      }

      .navbar_assets {
         margin-right: 1em;
         padding: 0.5em 0;
         display: flex;
         align-items:center;
         justify-content: space-between;

         .logo {
            display: block;
            width: auto;
            border-radius: 0.5em;
            //background-color: black;
         }

         .navbar_hambuger {
            display: block;

            img {
               display: block;
               width: 32px;
               height: 32px;
            }
         }
      }

      .navbar_nav {
         padding: 0 0.5em 0.5em 0.5em;
         display: none;
         flex-direction: column;
         //background-color: aliceblue;

         li {
            a {
               display: block;
               padding: 8px 16px;
               font-size: 1.2em;
               color: inherit;
            }

            .dropdown {
               display: none;
               margin: 0;
               padding: 0;
               list-style: none;
               position: relative;
               background-color: blueviolet;

               li {
                  color: black;

                  a {
                     color: inherit;
                  }

                  &:hover {
                     background-color: darkblue;
                     color: white;
                  }
               }
            }

            &:hover {
               color: blue;

               .dropdown {
                  display: block;
               }
            }
         }
      }

      .toogle_navbar_nav {
         display: flex;
      }
   }
}